
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
td,th{
  font-size: 25px;
}
.icon{
  color: brown;
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
}

nav{
  width: 100%;
  height: 60px;
  background-color: #D1E7DD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
  color: black;
  font-size: 25px;
}
nav ul{
  display: flex;
}
nav ul li{
  padding: 0 10px;
}
nav ul li a{
  font-size: 20px;
  color: black;
}
nav ul li a:hover{
  color: #292b2e;
}

.login{
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f5f7f6;
  padding: 10px 15px;
}
.login form{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s ease;
}
.login form input{
  border: 1px solid seagreen;
  outline: none;
  width: 100%;
  min-height: 40px;
  padding:  10px;
}
.login form input.btn{
  font-size: 20px;
}
.login form input.btn:hover{
  background-color: seagreen;
}
.login form .error{
  padding: 0;
  margin: 0;
  color: red;
}


